*{
    color: #333;
}
.todo_list_contain{
    position: relative;
    margin: auto;
    margin-top: 30px;
    width: 100%;
    height: 90vh;
    .todo_list_inner{
        text-align: center;
        .none_todo_text{
            font-size: 40px;
            font-weight: 700;
        }
        // .todo_lists{
        //     position: absolute;
        //     right: 0;
        //     left: 0;
        //     width: 90%;
        //     height: 70%;
        //     margin: 2% auto;
        //     display: flex;
        //     justify-content: center;
        //     gap: 20px;
        //     flex-wrap: wrap;
        //     overflow-y: scroll;
        //     .todo_list{
        //         width: 300px;
        //         height: 200px;
        //         display: flex;
        //         justify-content: space-around;
        //         box-shadow: 4px 3px 3px 2px rgb(243, 239, 239);
        //         background-color: rgb(243, 243, 243);
        //         border-radius: 20px;
        //         margin-top: 10px;
        //         cursor: pointer;
        //         transition: .3s;
        //         .content{
        //             margin-top: 20px;
        //             .title{
        //                 width: 150px;
        //                 overflow-x: hidden;
        //                 white-space: nowrap;
        //                 text-overflow: ellipsis;
        //             }
        //             .date{
        //                 font-size: 16px;
        //                 font-weight: 600;
        //                 color: #333;
        //             }
        //         }
        //     }
        //     .todo_list:hover{
        //         transform: translateY(-10px);
        //         background-color: rgb(206, 206, 206);
        //     }
        // }
        .add_todo_button{
            position: absolute;
            bottom: 10%;
            right: 10%;
            margin: auto;
            color: #333;
            font-size: 25px;
            font-weight: 700;
            width: 45px;
            height: 45px;
            border: 0;
            border-radius: 50%;
            transition: .3s;
            cursor: pointer;
            background-color: rgb(236, 236, 201);
        }
        .add_todo_button:hover{
            background-color: rgb(200, 200, 162);
        }
    }
}
.todo_modal{
    position: absolute;
    top: 0;
    left: 0;
}