.todo_contain {
    position: relative;
    width: 100vw;
    height: 90vh;
    .todo_inner{
        .before_login_text{
            z-index: 10;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
            margin-top: 15%;
            .todo_blur_text{
                font-size: 30px;
                color: #333;
            }
            .todo_blur_button{
                cursor: pointer;
                width: 150px;
                height: 60px;
                margin-top: 20px;
                font-size: 16px;
                font-weight: 700;
                background-color: rgb(235, 235, 235);
                transition: .3s;
                border: 0;
                border-radius: 10px;
            }
            .todo_blur_button:hover {
                background-color: rgb(201, 201, 201)
            }
        }
    }
}