*{
    list-style: none;
    text-decoration: none;
}
.header_contain{
    position: relative;
    width: 100vw;
    height: 80px;
    .header_inner{
        position: absolute;
        width: 75%;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .logo{
            width: 60px;
            height: 60px;
            background-color: rgb(224, 221, 221);
            border-radius: 50%;
            cursor: pointer;
        }
        .menu_list{
            margin-top: 20px;
            margin-right: 30px;
            display: flex;
            gap: 50px;
            .menu_item{
                transition: .3s;
                cursor: pointer;
                font-size: 18px;
                font-weight: 600;
                color: #333;
            }
            .menu_item:hover {
                color: rgb(128, 127, 127);
            }
        }
    }
}