.choice_contain{
    position: relative;
    width: 100vw;
    height: 100vh;
    .inner{
        position: absolute;
        display: flex;
        justify-content: center;
        gap: 20px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 80%;
        height: 90%;
        .choice{
            transition: .5s;
            width: 45%;
            height: 80%;
            border: 0;
            box-shadow: 4px 12px 30px 6px rgb(243, 239, 239);
            border-radius: 20px;
        }
        .login:hover{
            background-color: rgb(236, 236, 201);
        }
        .join:hover{
            background-color: rgb(246, 246, 230);
        }
    }
}