.join_contain{
    position: relative;
    margin: auto;
    width: 80%;
    height: 400px;
    .text{
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        margin-top: 20%;
    }
    .input_contain{
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        .id, .pw, .btn_contain > button{
            margin: auto;
            width: 80%;
            height: 45px;
            border: none;
            border-radius: 10px;
            box-sizing: border-box;
            margin-top: 30px;
        }
        .id, .pw{
            transition: .3s;
            padding: 20px;
            box-shadow: 4px 5px 5px 1px rgb(243, 239, 239);
        }
        .btn_contain{
            display: flex;
            .auth{
                background-color: rgb(182, 129, 129);
                color: #fff;
            }
            .join{
                background-color: #A6BB8D;
                color: #fff;
            }
            .join:hover{
                background-color: #A6BB8D;
                color: #fff;
            }
        }
        .btn_contain > button{
            width: 45%;
            font-weight: 700;
            cursor: pointer;
            // background-color: #A6BB8D;
            // color: #fff;
        }
    }
}
.login_contain:hover{
    .id, .pw{
        box-shadow: none;
    }
}